
<div class = "container">

  <% if current_user %>
    <div class="card z-depth-5" style="border-style:solid;border-color:#ff4444;display:inline-block;border-width:thin;">
      <%= link_to "<- Back to Dashboard", dashboard_path, style: "border-style:solid;border-color:#ff4444;width:225px;height:30px;padding-top:3px;display:inline-block;border-width:thin;" %>
    </div>
  <% end %>

  <div class="col s12"  style="padding-top:1vh;">
    <div class="card">
      <div class="card-content center">
        <h2> <%= @business.name %> </h2>
        <h4> <%= @business.description %></h4>
      </div>
    </div>
  </div>

<div class="card">
  <div class="grid-item-container">
    <h2 class="center">Current Admins</h2>
    <div class="row">
        <%= render partial: "admin_grid", collection: @business.users, as: :admin %>
    </div>
  </div>
</div>

<div class="card">
  <div class="grid-item-container">
    <h2 class="center">Current Employees</h2>
    <div class="row">
        <%= render partial: "employee_grid", collection: @auctions, as: :auction %>
    </div>
  </div>
</div>

        <!-- <div class="col s3">
          <div class="card white">
                      <div class="card-content white-text center">
              <i class="large material-icons" style="color:black;">done_all</i>
            </div>
            <div class="card-action center">
              <a class="waves-effect waves-light btn-large">
                <%= button_to "Write a Review", "#", method: :get %>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div> -->
