<div class="checkout container">
  <div class="card z-depth-5">
    <div class="row">
      <div class="col m4">
        <div style="human-image">
          <%= image_tag "#{auction.human.url}", width: "300px",  id: "#{auction.id}_auction", class: "item-show" %>
        </div>
        <div class="row card-button">
          <div id="bid">
            <h5>Current Bid: $<%= auction.high_bid %> </h5>
            <h5>Time Remaining 1:07</h5>
            <%= simple_form_for :bid, url:
             bids_path(auction.id) do |f| %>
            <%= f.input :amount, as: :integer %>
            <button class="btn waves-effect waves-light red" type="submit" name="action">
              <%= f.submit "Bid Now" %>
            </button>
            <% end %>
          </div>
          </div>
        </div>
      </div>
      <div class="col m8">
        <div class="item-description">
          <span class="card-title"><b> <%= auction.human.scum_name %> </b></span>
          <ul>
            <li><b>Department:</b> Sanitation</li>
            <li><b>Skills:</b>  Fastidious, Dependable</li>
            <li><b>Bio:</b><p class="custom-para"> <%= auction.human.bio %> </p></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
