<div class="navbar">
  <nav id="nav_f" class="nav_custom" role="navigation">
    <div class="nav-wrapper">
      <div class"title-wrapper">
        <h1 class="brand-logo robot center"><a href="/items">Hire a Human</a></h1>
      </div>
      <ul class="right hide-on-med-and-down">
        <li class = "hoverable"><%= link_to "Current Bids: #{cart.count_of}", "#"%></li>
        <li class = "hoverable"><%= render partial: "partials/dropdown"%></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <% if current_user %>

        <li> <%= link_to "Logged in as #{current_user.first_name}", '/dashboard'%></li>

        <li> <%= link_to "Logout", "#", method: :delete %></li>
        <% else %>
        <li class = "hoverable"><%= link_to "Login", "#" %></li>

        <li class = "hoverable"><%= link_to "Create Account", "#"%></li>
        <% end %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
