<div class="navbar">
  <nav id="nav_f" class="nav_custom" role="navigation">
    <div class="nav-wrapper">
      <div class"title-wrapper">
        <h1 class="brand-logo robot center"> <%= link_to "Hire a Human", auctions_path %> </h1>
      </div>
      <ul class="right hide-on-med-and-down">
        <% if current_skynet %>
          <li class = "hoverable"><%= link_to "Dashboard", skynet_dashboard_path %></li>
        <% end %>
        <% if current_user %>
        <li class = "hoverable"><%= link_to "Live Auctions", live_auctions_path %></li>
        <% end %>
        <li class = "hoverable"><%= render partial: "partials/dropdown"%></li>
      </ul>
      <ul class="left hide-on-med-and-down">
        <% if current_user %>

        <li> <%= link_to "Logged in as #{current_user.first_name}", '/dashboard'%></li>

        <li> <%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
        <li class = "hoverable"><%= link_to "Login", login_path %></li>

        <li class = "hoverable"><%= link_to "Create Account", new_user_path %></li>
        <% end %>
      </ul>
      <ul id="nav-mobile" class="side-nav">
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
</div>
