<div id='gif-body'>


<div class="container center" style="width:34rem;">

    <div class="card">
      <div class="card-content new-biz">
        <%= form_for @business, url: businesses_path, style:"font-size:2rem" do |f| %>

        <%= f.label :name, "Business Name:" %>
        <%= f.text_field :name %>
        <%= f.label :description, "Description:" %>
        <%= f.text_field :description %>
        <br>
        <div id="new_user_submit">
          <a class="waves-effect waves-light btn-large yellow darken-3" id="huge-page-button" >
            <%= f.submit "Submit", id:"huge-page-button-text"%>
          </a>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
