
<div class="container center">
  <button class="btn waves-effect waves-light red" type="submit" name="action">
    <%= link_to "Create a Business", new_business_path(@business), style: "color: white"   %>
  </button>

  <button class="btn waves-effect waves-light red" type="submit" name="action">
      <%= link_to "Join an Existing Business", businesses_path, style: "color: white" %>
  </button>
</div>

<div class = "container">
  <div class="col s12"  style="padding-top:10vh;">
    <div class="card z-depth-5">
      <div class="card-content center">
        <h5 class="robot"> <%= @user.first_name %>'s Profile</h5>
        <br>
        <h8 class="robot"> Username: <%= @user.username %> </h8>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="grid-item-container">
      <h2 class="center">Current Employees</h2>
      <div class="row">
        <% if @humans %>
          <%= render partial: "partials/grid_item", collection: @humans, as: :human %>
        <% else %>
          <h2> You have no Employees, visit Human Shop to bid </h2>
        <% end %>
      </div>
    </div>
  </div>

<!-- <h3 class="center review-text">All Item Reviews for <%= @user.username %>:</h3>
<ul>
  <div class="container">
    <%= render partial: 'partials/review_card_dashboard', collection: @reviews, as: :review %>
  </div>
</div> -->
