
<div class="container center">
    <div class="col s12"  style="padding-top:5vh;">
      <div class="card z-depth-5" style="border-style:solid;border-color:#ff4444;display:inline-block;border-width:thin;">
        <div class="card-content center">
          <h5 class="robot"> <%= current_user.first_name %>'s Profile</h5>
          <br>
          <h8 class="robot"> Username: <%= current_user.username %> </h8>
        </div>
      </div>
    </div>

    <div class="card" style="border-style:solid;border-color:#ff4444;border-width:thin;">
      <div class="grid-item-container">
          <div style="padding-top:15px;">
            <div style="border-style:solid;border-color:#00aaaa;width:200px;display:inline-block;border-width:thin;">
            <%= link_to "Create a Business", new_business_path(@business), style: "color:#00aaaa;"%>
            </div>
            <div style="border-style:solid;border-color:#00aaaa;width:275px;display:inline-block;border-width:thin;">
            <%= link_to "Join an Existing Business", businesses_path, style: "color:#00aaaa;" %>
          </div>
          <div style="border-style:solid;border-color:#00aaaa;width:275px;display:inline-block;border-width:thin;">
            <%= link_to "Edit Profile", edit_user_path(current_user), style: "color:#00aaaa;" %>
          </div>
          <div class="row" style="padding-top:15px;">
            <%= render partial: "admin/businesses/business_grid", collection: current_user.businesses, as: :business %>
          </div>
        </div>
      </div>
  </div>


  <div class="card" style="border-style:solid;border-color:#ff4444;display:inline-block;border-width:thin;">
    <div class="grid-item-container">
      <h2 class="center">Current Employees</h2>
      <div class="row">
        <% if @humans %>
          <%= render partial: "partials/grid_item", collection: @humans, as: :human %>
        <% else %>
          <h2> You have no Employees, visit Human Shop to bid </h2>
        <% end %>
      </div>
    </div>
  </div>
</div>
